<% if @cocktail.photo.file  %>
  <% banner_image = cl_image_path(@cocktail.photo) %>
<% else  %>
  <% banner_image = cl_image_path("gin_cocktail") %>
<% end %>

<div class="banner-small" style= "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= banner_image %>')"">
    <h1><%= @cocktail.name %></h1>
</div>
<div class="container">
<div class="ingredient-list">
  <h2>Ingredients</h2>
  <ul>
    <% @cocktail.doses.each do |dose|  %>
    <div class="ingredient-block">
      <li><%= "#{dose.description} #{dose.ingredient.name}" %></li>
      <%= link_to dose, method: :delete do %>
        <i class="far fa-minus-square"></i>
      <% end %>
    </div>
    <% end %>
   </ul>
</div>
  <%= link_to new_cocktail_dose_path(@cocktail) do %>
   <div class="btn btn-primary">
     Add an ingredient!
   </div>
  <% end %>
</div>

